*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    margin: 4% 0 0 6%;
}

body{
    background-color: #F3F5FC;
    height: 100vh;
}

.txtdireita {
    background-color: white;
    width: 400px;
    height: 100%;
}

.conteudo {
    display: flex;
    justify-content: space-around;
    padding: 4% 5%;
    height: 100%;
}

.area_texto_input{
    height: 85%;
    width: 800px;
    border: none;
    background-color: #314fb9;
}

.atencao {
    margin: 2% 0;
}

button {
    font-size: 23px;
}